body{
	width:		100%;
	min-width:	650px;
	height:		100%;
	padding:	0px;
	margin:		0px;
	background:	#f5deb3;
	text-align:	center;
}

h1, h2{
	text-align:	center;
	width:		100%;
	background: #f5deb3;
}

h1{font-size: 60px;}
h2{font-size: 20px;}

img{background: none;
	vertical-align: middle;
}
#splash{
	position:	absolute;
	width:		100%;
	min-width:	650px;
	text-align:	center;
	top:		150px;
}
#login{
	display:	none;
	width:		280px;
	height:		275px;
	background-image: url(images/halfscr-blue.gif);
	border:		solid 5px black;
	-moz-border-radius: 160px; 
}

#footer{
	position: fixed;
	width:		100%;
	bottom:		0px;
	height:		20px;
	color:		white;
	background:	black;
	text-align:	center;
	margin:		0px;
	padding:	0px;
}

a{
	display:	inline-block; 
	width:		25%;
	margin:		30px;
	padding:	0px;
	color:		white;
	clear:		none;
	text-decoration: none;
}

.big {
     font-size: 30px;
}

.programName {
	font-size: 30px;
	font-family: Serif;
	font-style: italic;
}

a:hover{
	background: #546DAF;
	text-decoration: none;
}

.linkbutton{
	margin:		50px 50px;
	vertical-align: middle;
	border:		solid 1px black;
	background: lightsteelblue;
	font-size:	1em;
	width:		180px;
}
.linkbutton:hover{
	background: gray;
}
