
body{
	padding:		0px;
	margin:			0px;
	background:		#f5deb3;
}

/* Our top box */
div#top{
	position:		fixed;
	width:			100%;
	min-width:		800px;
	text-align:		left;
	z-index:		10;
	height:			156px;
	background:		#f5deb3;
}

/* Sidebar and menu links */
div#sidebar{
	position:		fixed;
	_position:		absolute;
	left:			20px;
	top:			200px;
	width:			200px;
	text-align:		right;
}

div#sidebar ul{
	margin:			0px;
	padding:		0px;
}

div#sidebar ul li{
	border-top:		1px solid black;
	float:			left;
	display:		inline;
}

div#sidebar ul li a{
	padding-right:	5px;
	line-height:	30px;
	width:			150px;
	font-size:		20px;
	display:		block;
	color:			black;
	text-decoration:none;
}

div#sidebar ul li:hover a {
	background:		black;
	color:			white;
}

/* Main body entries and images */
div#body{
	position:		absolute;
	left:			200px;
	top:			200px;
	padding-left:	10px;
	padding-right:	20px;
	margin:			0px;
	max-width:		1000px;
}

div.item{
	border-top:		1px solid black;
	float:			left;
	padding:		20px 0px 20px 0px;
}

div.item img{
	float:			right;
	width:			200px;
	vertical-align: text-top;
	padding:		10px;
}

div.item h1{	
	padding:		0px; 
	margin:			0px;
	font-family:	sans-serif;
	font-size:		24px;}
