body {
font-family: sans-serif;
font-size: 11pt;
color: black;
background-color: #ffffff;
margin-top: 2em;
margin-left: 8%;
margin-right: 8%;
}
a:link {
color: #336666;
}
a:visited {
color: #336666;
}
a:active {
color: #336666;
}
h1 {
margin-top: .5em;
font-size: 13pt;
color: #006699;
}
h2, h3, h4, h5, h6 {
margin-top: .5em;
font-size: 11pt;
color: #006699;
}
.bwgreen {
color: #00cc00;
}
.bwblue {
color: #006699;
}
.title {
font-size: 200%;
}
.partheading {
font-size: 90%;
}
.chapterheading {
font-size: 90%;
}
div.figure {
width: 100%;
border-style: solid;
border-width: thin;
}
pre {
margin-left: 2em;
font-size: 10pt;
}
ol {
list-style-type: decimal;
}
ol ol {
list-style-type: lower-alpha;
}
ol ol ol {
list-style-type: lower-roman;
}
ol ol ol ol {
list-style-type: upper-alpha;
}
.scheme {
color: brown;
font-size: 10pt;
}
.scheme .keyword {
color: black;
font-weight: bold;
}
.scheme .builtin {
color: #990000;
}
.scheme .variable {
color: navy;
}
.scheme .global {
color: purple;
}
.scheme .selfeval {
color: green;
}
.scheme .comment {
color: teal;
}
.scheme .schemeresponse {
color: green;
}
.scheme .builtin {
color: #990000;
}
.navigation {
color: red;
text-align: right;
font-style: italic;
}
.disable {
color: gray;
}
.smallcaps {
font-size: 75%;
}
.smallprint {
color: gray;
font-size: 75%;
text-align: right;
}
.footnoterule {
text-align: left;
width: 40%;
}
.collophon {
color: gray;
font-size: 80%;
font-style: italic;
text-align: right;
}
.collophon a {
color: gray;
}
