Scrollbar {
    -th-vertical-top-image: url(/images/dash_vscroll_track_top.png);
    -th-vertical-middle-image: url(/images/dash_vscroll_track_middle.png);
    -th-vertical-bottom-image: url(/images/dash_vscroll_track_bottom.png);
}

Scrollbar > Button.bar {
    -th-top-image: url(/images/dash_vscroll_top.png);
    -th-middle-image: url(/images/dash_vscroll_middle.png);
    -th-bottom-image: url(/images/dash_vscroll_bottom.png);
}

Scrollbar > Button.up {
    background-image: url(/images/dash_vscroll_up_arrow.png);
}

Scrollbar > Button.down {
    background-image: url(/images/dash_vscroll_down_arrow.png);
}

ResizeNib {
    -th-vertical-bar-color: rgb(10, 10, 8);
    -th-vertical-bar-shadow-color: rgb(185, 180, 158);

    -th-horizontal-bar-subtle-shadow-color: rgba(0, 0, 0, 0.1);
    -th-horizontal-bar-shadow-color: black;
    -th-horizontal-bar-color: rgb(183, 180, 160);
}

Panel {
    /*background-color: blue;*/
}

ExpandingInfoPanel {
    background-color: rgb(61, 59, 52);
}